@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
    font-family: 'Arimo', sans-serif;
}

body {
    background-color: #0A2540;
    color: #0A2540;
}

/* For the header or "navigation bar" */
header {
    display: flex;
    /* To make sure that width stretches across the screen horizontally */
    width: 100%;
    
    border-bottom: 2px solid #1b5fa7;    
    /* It distributes the items, where item 1 is aligned to start, and 
       last item is aligned to the end, where there is equal space between 
       the rest */
    justify-content: space-between;
    /* As indicated, adds the blue background of the header */
    background-color: #0A2540;
    /* Adds shadow to the box, I added a darkish blue/purple shadow */
    box-shadow: 5px 5px 1px rgba(0, 25, 127, 0.388);
    /* Sets the top/bottom padding and the left/right padding using 
       % relative to size of element */
    padding: 2% 5%;
    content:icon;
    /* Adds the dark blue line at the bottom of the border */
    
}

.linkNav {
    margin-left: 30px;
    font-size: x-large;
    text-decoration: solid;
    color: #dbe2ed;
    font-weight: 600;
}

.logoImg {
    width: 30px;
    height: 30px;
    align-items: center;
    vertical-align: middle;
}

.logo {
    font-size: x-large;
    text-decoration: solid;
    color: #dbe2ed;
    font-weight: 400;
    
}

.linkNav:hover {
    background-color: #78a5d2;
    color: white;
    border-radius: 4px;
    padding: 2px 2px 5px 5px;
}

.logo:hover {
    font-weight: 600;
    cursor: pointer;
}
/* ----------------------End of Navigation Bar ----------------------------------- */

/* Home Page */
.home_intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex: 1;
    padding: 5% 5%;
    /* Debating on whether we need this or not */
    /* background-color: #e5ebf0; */
    /* margin-top: 5%; */
}

.self_intro, .other_intro{
    /* Meaning flex-grow: 1, flex-shrink: 1; flex-basic: 0, so basically
       I want this to take up equal share of the space alongside the photo*/
    flex: 1;
    /* This was just trial and error, as I want it to be a bit away from 
       the header */
    padding: 5%;
    background-color: #78a5d2;
    margin-top: 8vh;
    border-radius: 20px;
    border: solid 2px rgb(105, 148, 212);
    /* height: 400px; */
    height: 50vh;
    width: 50vw;

}

.self_intro h1{
    /* font-size: 32px; */
    font-size: 48px;
    color: rgb(22, 22, 25);
}

.self_intro p{
    font-size: 32px;
    font-style:italic;
    position: relative;
}


/* ----------------------End of Home Page ----------------------------------- */



/* This is for About Page */
.about_layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 5% 5%;
    /* Debating on whether we need this or not */
    /* background-color: #e5ebf0; */
}


.profile_pic {

    flex: 1;
    width: 20vh;
    height: 30vh;
    max-width: 250px;
    min-width: 100px;

 /* Next is CSS Box Model */
    margin-top: 10vh;
    /* From a quick web search, it seems to be able to horizontally center 
    whenever we auto both margin-left and margin-right */
    margin-left: auto;
    margin-right: auto;
    padding: 5%;

/*  Visual and Typography */
    border-radius: 20px;
    background-color: #78a5d2;
}

.about_intro {
/* Looked up css syntax, and it seems that position property comes first */
    /* This was just trial and error, as I want it to be a bit away from 
    the header */
    flex: 1;
    width: 60vw;
    height: 50vh;
    margin: 10vh 5vh;
    border: solid 2px rgb(105, 148, 212);
    padding: 5%;

/*  Visual and Typography */
    border-radius: 20px;
    background-color: #78a5d2;
}

.about_intro h1{
    font-size: 48px;
}


#plink1 p{
    padding: 5%;
 
/*  Visual and Typography */
    border-radius: 10px;
    background-color: #78a5d2;
    color: white;
    
}


/* ----------------------End of About Page ----------------------------------- */

/* Education Page */
.education {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    
}

.highSchool {
    border: solid 2px rgb(33, 3, 3);
    background-color: #5297db;
}

.college {
    border: solid 2px rgb(33, 3, 3);
    background-color: #5297db;
}


/* ----------------------End of Education Page ----------------------------------- */

/* Skills Page */
.skills {
    color: white;
}
/* ----------------------End of Skills Page ----------------------------------- */


/* Projects Page */
.project {
    color: white;
}
/* ----------------------End of Projects Page ----------------------------------- */

/* Contact Page */
.contact {
    color: white;
}

/* ----------------------End of Projects Page ----------------------------------- */
