@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
    font-family: 'Arimo', sans-serif;
}

body {
    background-color: #0A2540;
    /* background-color: rgb(250, 244, 186); */
    color: #0A2540;
}

/* For the header or "navigation bar" */
header {
    display: flex;
    /* To make sure that width stretches across the screen horizontally */
    width: 100%;
    
    border-bottom: 2px solid #1b5fa7;    
    /* It distributes the items, where item 1 is aligned to start, and 
       last item is aligned to the end, where there is equal space between 
       the rest */
    justify-content: space-between;
    /* As indicated, adds the blue background of the header */
    background-color: #0A2540;
    /* Adds shadow to the box, I added a darkish blue/purple shadow */
    box-shadow: 5px 5px 1px rgba(0, 25, 127, 0.388);
    /* Sets the top/bottom padding and the left/right padding using 
       % relative to size of element */
    padding: 2% 5%;
}

.linkNav {
    margin-left: 30px;
    font-size: x-large;
    text-decoration-style: solid;
    color: #dbe2ed;
    font-weight: 400;
    transition: 0.1s;
}

.logoImg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.logo {
    font-size: x-large;
    text-decoration-style: solid;
    color: #dbe2ed;
    font-weight: 400;
    
}

.linkNav:hover {
    background-color: #78a5d2;
    color: white;
    border-radius: 4px;
    padding: 2px 6px;

}

.logo:hover {
    font-weight: 600;
    cursor: pointer;
}
/* ----------------------End of Navigation Bar ----------------------------------- */

.about_layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 5% 5%;
    /* Debating on whether we need this or not */
    /* background-color: #e5ebf0; */
}

.profile_tab {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile_pic {

    flex: 1;
    width: 20vh; /*20% viewport width*/
    height: 30vh; /*30% viewport height*/
    max-width: 250px;
    min-width: 100px;

 /* Next is CSS Box Model */
    margin-top: 10vh; /*10% viewport height*/
    /* From a quick web search, it seems to be able to horizontally center 
    whenever we auto both margin-left and margin-right */
    margin-left: auto;
    margin-right: auto;
    padding: 5%;

/*  Visual and Typography */
    border-radius: 20px;
    background-color: #78a5d2;
}

.profile_pic img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.resume, .linkedIn {
    display: inline-block;
    background-color: #78a5d2;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color .2s;
}

/* .resumeBtn:hover {
    background-color: #5e8cb9;
    cursor: pointer;
} */

.about_intro {
/* Looked up css syntax, and it seems that position property comes first */
    /* This was just trial and error, as I want it to be a bit away from 
    the header */
    flex: 1;
    width: 60vw; /*60% viewport width*/
    height: 50vh; /*50% viewport height*/
    margin: 10vh 5vh; /*10% viewport height for top and bottom margin, 5% viewport height for left and right*/
    padding: 5%; /*padding on all 4 sides*/
    border: solid 2px blue;

/*  Visual and Typography */
    border-radius: 20px;
    background-color: #78a5d2;
}

.about_intro h1{
    font-size: 48px;
}

#plink1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* ----------------------End of About Page ----------------------------------- */

/* ----------------------Start of Project Page ----------------------*/
.project-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.project-card {
    background: #c6d1e3;
    width: 350px;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: all 0.3s ease;
}

.project_image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-card a {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #3366cc;
}

.project-card a:hover {
    text-decoration-line: underline;
}

/* ----------------------Start of Project Page ----------------------*/
